.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh auto;
}
body{
  background: rgb(1,5,22);
}
.App h1{
  color:white;
}
.App p{
  margin: 20px 0px;
  color:#ccc;
  font-size: 15px;
  width: 500px;
  text-align: center;
}
.AppCard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap :wrap;
}
@keyframe screen and (max-width : 600px){
  .App p{
  width: 300px;
  
}
}
